<%= provide(:description, 'I would like to enter keywords and a description of the home page only of my ruby website. The home page has ') %>
<%= provide(:keywords, 'Home, fred, grace, heaven, george') %>

<p>Coming Soon - Summer 2018</p>
<p class="sign-up">Sign Up for News and Updates</p>
<%= image_tag("star.svg", alt: "star", class: "star")%>
<%= image_tag("ray.svg", alt: "ray in arch way", class: "ray")%>
<%= image_tag("b_40_silver.svg", alt: "back forty logo gold silver gold", class: "b-40")%>
<%= image_tag("b_40_gold.svg", alt: "back forty logo silver gold silver", class: "b-40")%>
<%= image_tag("ram.svg", alt: "ram constellation", class: "ram")%>
<%= image_tag("wolf.svg", alt: "wold constellation", class: "wolf")%>
<%= image_tag("b40_and_message.svg", alt: "back forty cannabis only the highest quality naturally grown", class: "b40 center")%>
