<%= provide(:description, 'I would like to enter keywords and a description of the home page only of my ruby website. The home page has ') %>
<%= provide(:keywords, 'Home, fred, grace, heaven, george') %>

<h1>Back Forty Cannabis</h1>
<h2>Only the highest quality naturally grown</h2>
<p class="top">Coming Soon <span></span> Summer 2018</p>
<p class="sign-up">Sign Up for News and Updates</p>
<%= image_tag("star.svg", alt: "star", class: "star hidden-xs")%>
<%= image_tag("ray.svg", alt: "ray in arch way", class: "ray hidden-xs")%>
<%= image_tag("b_40_silver.svg", alt: "back forty logo gold silver gold", class: "b-40-logo left hidden-xs")%>
<%= image_tag("b_40_gold.svg", alt: "back forty logo silver gold silver", class: "b-40-logo right")%>
<%= image_tag("ram.svg", alt: "ram constellation", class: "ram")%>
<%= image_tag("wolf.svg", alt: "wold constellation", class: "wolf hidden-xs")%>
<%= image_tag("b40_and_message.svg", alt: "back forty cannabis only the highest quality naturally grown", class: "b40 center hidden-xs")%>
<%= image_tag("b40_and_message_mobile.svg", alt: "back forty cannabis only the highest quality naturally grown", class: "b40 center hidden-md")%>
